
  .toggle-button {
    position: absolute;
    top: 20px;
    position: absolute;
    right: 20px;
  }

  .modal-style {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: #eee;
  }

  .employee-mod-profile {
    padding: 1em;
    display: flex;
    flex-direction: row;
    width: 437px;
    margin: 1em;
    background-color: #eee;
}

.employee-mod-image {
    padding-right: 10px;
}

.employee-mod-name {
    font-weight: bold;
}
