.employee-profile {
    padding: 1em;
    display: flex;
    flex-direction: row;
    width: 437px;
    margin: 1em;
    border: 2px solid black;
}

.employee-image {
    padding-right: 10px;
}

.employee-name {
    font-weight: bold;
}